<div class="regional content">

<h2>Nuestro trabajo por autonomías</h2>
<svg viewBox="0 0 750 550" preserveAspectRatio="xMidYMid meet">
	 <svg version="1.1" id="Layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="0px"
		 width="733" height="500" viewBox="0 0 733 500" enable-background="new 0 0 733 500">
		<g>
			<polygon (click)="ShowTextFragment('galicia')" class="map-element" fill="#00B9F2" points="254.721,99.652 198.201,92.354 199.428,60.811 185.69,36.923 225.432,27.476 234.813,5.311 
				267.716,14.013 273.483,82.25 	"/>
			<polygon  (click)="ShowTextFragment('asturias')" class="map-element" fill="#00B9F2" points="362.328,30.67 285.839,47.922 282.595,13.131 318.911,15.381 360.656,26.521 	"/>
			<polygon  (click)="ShowTextFragment('castillayleon')" class="map-element" fill="#00B9F2" points="414.378,135.662 396.221,144.305 358.333,192.09 307.914,170.38 283.675,178.928 286.83,140.651 
				309.929,123.871 281.18,103.526 294.532,90.68 291.509,61.957 353.765,47.689 382.852,66.338 394.657,62.857 400.885,47.985 
				417.066,51.135 422.735,71.736 424.237,101.914 466.246,106.393 454.931,139.751 	"/>
			<polygon  (click)="ShowTextFragment('extremadura')" class="map-element"  fill="#00B9F2" points="326.935,280.278 300.869,305.763 281.89,303.083 266.223,295.027 254.386,282.177 266.118,256.251 
				244.105,222.622 267.006,222.072 271.998,198.294 300.869,189.612 330.561,202.429 330.561,226.82 349.804,245.501 
				339.171,273.933 	"/>
			<polygon  (click)="ShowTextFragment('larioja')" class="map-element" fill="#00B9F2" points="478.569,99.428 436.534,94.562 433.762,67.217 453.146,79.152 466.257,83.595 	"/>
			<polygon fill="#00B9F2"  (click)="ShowTextFragment('cantabria')" class="map-element" points="392.817,50.82 385.17,53.293 362.365,38.226 377.07,32.143 373.591,24.831 403.476,18.999 
				417.997,25.391 414.136,29.011 398.768,35.056 	"/>
			<polygon  (click)="ShowTextFragment('paisvasco')" class="map-element" fill="#00B9F2" points="450.903,70.851 433.209,59.469 428.142,40.653 411.955,37.016 432.042,29.356 451.987,30.04 
				473.822,27.846 455.619,53.794 	"/>
			<polygon  (click)="ShowTextFragment('navarra')" class="map-element" fill="#00B9F2" points="496.869,88.652 486.518,92.297 472.862,76.727 462.468,73.012 466.251,57.743 482.873,34.655 
				512.612,49.983 490.892,75.093 	"/>
			<polygon  (click)="ShowTextFragment('cataluna')" class="map-element" fill="#00B9F2" points="582.885,166.115 569.86,157.351 573.739,115.673 592.645,80.74 571.252,56.299 618.182,61.989 
				615.617,71.55 642.001,77.037 653.779,70.051 672.297,70.051 667.946,101.045 630.124,130.752 589.003,148.83 591.482,158.914 	"/>
			<polygon  (click)="ShowTextFragment('aragon')" class="map-element" fill="#00B9F2" points="532.824,180.735 519.003,199.609 507.934,193.314 485.604,175.975 493.927,153.889 
				475.087,143.968 487.554,107.346 507.741,99.794 500.703,83.053 522.953,58.062 544.359,63.751 559.741,63.085 577.108,83.053 
				558.382,116.536 555.038,159.113 538.248,161.452 	"/>
			<polygon  (click)="ShowTextFragment('valencia')" class="map-element" fill="#00B9F2" points="522.949,298.689 528.379,313.261 536.972,285.869 562.169,266.058 544.967,251.998 
				541.888,223.823 568.452,180.36 556.996,174.139 541.888,176.242 538.104,192.381 522.417,216.832 509.691,210.35 495.899,235.941 
				511.555,241.17 511.367,257.996 523.317,264.156 	"/>
			<path fill="#00B9F2" d="M529.31,203.942"/>
			<polygon  (click)="ShowTextFragment('madrid')" class="map-element" fill="#00B9F2" points="420.826,192.5 408.625,203 409.875,197.875 371.789,191.667 402.893,153.587 407.905,167.637 	"/>
			<polygon  (click)="ShowTextFragment('castillalamancha')" class="map-element" fill="#00B9F2" points="478.02,166.456 470.66,187.515 493.834,206.066 478.02,236.694 496.715,242.548 495.541,258.47 
				507.464,264.317 487.204,274.314 486.833,286.212 455.827,303.055 451.588,301.544 452.726,285.189 442.589,279.19 
				427.496,285.067 381.334,286.743 357.458,274.11 369.042,242.548 349.214,223.166 349.12,201.758 365.524,208.421 373.223,199.705 
				403.561,205.341 404.363,216.438 431.486,197.202 415.167,164.5 410.833,149.381 419.605,150.381 460.261,154.801 	"/>
			<polygon  (click)="ShowTextFragment('murcia')" class="map-element" fill="#00B9F2" points="521.089,324.531 487.418,344.773 480.306,322.57 467.269,314.783 497.792,297.329 498.44,285.628 
				515.277,277.179 514.761,307.566 	"/>
			<polygon  (click)="ShowTextFragment('andalucia')" class="map-element" fill="#00B9F2" points="471.316,353.886 456.367,377.731 447.827,370.874 433.601,380.171 417.492,375.631 404.003,379.12 
				368.364,380.171 355.768,394.321 345.675,390.805 329.587,402.558 322.699,411.41 301.753,402.961 288.381,371.377 
				269.016,353.859 250.412,352.942 248.736,336.639 269.016,309.31 285.835,317.262 309.63,321.038 335.113,295.543 346.644,291.102 
				372.921,305.343 423.659,302.025 434.782,297.095 440.759,301.023 438.597,317.669 448.501,320.594 461.767,329.504 	"/>
			<g class="map-element" >
				<polyline  (click)="ShowTextFragment('islascanarias')" class="map-element"  fill="#00B9F2" points="63.739,459.339 76.501,457.13 85.552,450.82 94.774,448.368 96.557,450.799 91.014,455.938 
					86.013,461.492 83.216,468.347 80.148,476.333 72.567,479.848 66.268,474.833 61.384,465.667 		"/>
				<polyline  (click)="ShowTextFragment('islascanarias')" class="map-element" fill="#00B9F2" points="117.567,470.088 121.842,470.088 124.003,472.451 127.733,471.269 128.676,473.185 
					130.448,474.585 132.242,481.242 132.697,486.109 130.139,489.971 122.76,494.615 114.462,490.442 111.159,485.227 
					112.233,477.024 116.233,475.833 		"/>
				<polyline  (click)="ShowTextFragment('islascanarias')" class="map-element" fill="#00B9F2" points="41.067,467.288 46.372,468.347 50.685,471.669 50.352,474.333 47.833,477.615 42.217,477.467 
					39.598,474.964 38.915,470.088 		"/>
				<polyline  (click)="ShowTextFragment('islascanarias')" class="map-element" fill="#00B9F2" points="1.143,490.258 4.212,491.096 6.651,489.899 9.544,486.879 11.567,486.223 13.241,487.858 
					11.597,490.463 10.41,493.684 8.493,496.162 8.33,498.181 4.774,494.615 0.324,493.256 0.324,491.159 		"/>
				<polyline  (click)="ShowTextFragment('islascanarias')" class="map-element" fill="#00B9F2" points="8.948,435.393 9.544,439.333 11.859,445.637 15.18,453.417 16.597,452.569 19.499,447.836 
					20.096,445.699 19.581,442.651 21.075,439.42 19.287,434.32 12.65,433.411 		"/>
				<polyline  (click)="ShowTextFragment('islascanarias')" class="map-element" fill="#00B9F2" points="222.799,414.171 224.668,416.641 223.94,420.098 223.1,423.613 217.518,428.302 211.693,430.298 
					209.861,433.267 204.112,433.053 206.251,429.014 206.57,425.476 209.289,422.623 216.025,419.16 219.738,419.519 		"/>
				<polyline  (click)="ShowTextFragment('islascanarias')" class="map-element" fill="#00B9F2" points="175.283,474.026 182.712,472.269 186.208,469.611 187.904,464.501 188.255,462.551 
					191.513,455.722 195.599,448.231 197.999,443.076 200.123,440.884 204.112,440.173 205.685,442.231 205.373,452.073 
					204.182,454.426 205.685,459 201.245,466.596 190.268,471.375 183.025,478.5 173.992,475.967 		"/>
			</g>
			<g>
				<polygon  (click)="ShowTextFragment('islasbaleares')" class="map-element"  fill="#00B9F2" points="616.587,274.516 614.294,273.949 614.95,271.679 616.587,269.977 618.225,271.679 618.88,273.949 
							"/>
				<polyline  (click)="ShowTextFragment('islasbaleares')" class="map-element" fill="#00B9F2" points="711.466,194.744 713.865,195.929 713.731,199.426 720.006,198.789 729.15,202.194 732.4,203.945 
					732.908,202.194 730.775,199.344 732.04,198.88 730.176,194.911 728.525,195.25 726.359,193.179 723.9,193.75 723.763,192.094 
					712.815,193.751 		"/>
				<polyline  (click)="ShowTextFragment('islasbaleares')" class="map-element"  fill="#00B9F2" points="654.982,220.783 668.65,209 678.139,202.194 688.466,198.989 682.301,203.75 684.67,205.584 
					688.466,203.945 685.332,208.621 687.443,210.667 690.427,211.319 693.239,209.053 698.972,209.877 698.972,216.348 
					695.95,218.945 697.687,219.384 691.166,230.203 683.964,237.749 680.4,233 672.219,232.211 670.525,228 671.775,224.625 
					665.775,222.25 661.226,225.344 660.653,227.985 657.335,224.448 653.838,222.165 		"/>
				<polyline  (click)="ShowTextFragment('islasbaleares')" class="map-element" fill="#00B9F2" points="608.291,258.25 611.799,258.044 611.231,253.931 613.929,252.643 618.88,250.529 
					622.749,250.529 623.108,255 619.147,259.161 616.587,260.215 615.475,263.256 615.369,264.116 611.786,262.454 607.21,262.875 		
					"/>
			</g>
			<circle  (click)="ShowTextFragment('ceuta')" class="map-element" fill="#00B9F2" cx="320.603" cy="430.564" r="5.064"/>
			<circle  (click)="ShowTextFragment('melilla')" class="map-element" fill="#00B9F2" cx="430" cy="450.169" r="5.064"/>
		</g>
	</svg>
</svg>
	<div id="references-note" *ngIf="everythingIsOff()">
		<p>Elige la comunidad autónoma de la que quieras mostrar referencias bibliográficas.</p>
	</div>
	<div>
		<div *ngIf="andalucia">
			<h2>Andalucía - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.726 adolescentes de la comunidad autónoma de Andalucía. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I.; GRANADO M.C.; RAMOS, P. y RIVERA, F. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/andalucia_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas andaluces de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-022-7.</p>

			<h2>Andalucía - Edición 2011</h2>
			<p>La <a href="http://www.juntadeandalucia.es/salud/sites/csalud/portal/index.jsp" target="_blank">Consejería de Salud</a> de la <a href="http://www.juntadeandalucia.es/index.html" target="_blank">Junta de Andalucía</a> solicitó un estudio particular que garantizara la representatividad de toda la comunidad, de modo que pudieran contar con información propia y particular de los chicos y las chicas andaluces. De esta forma, se ha realizado una recogida de datos en la primavera de 2011 específicamente en Andalucía. Además, una importante ventaja de esta recogida de datos autonómica es la incorporación al muestreo de la variable provincia, que hace posible contar con una información representativa para los adolescentes de cada una de las ocho provincias andaluzas.</p>
			<p>El método de muestreo (probabilístico polietápico por conglomerados) permite generalizar los resultados obtenidos a toda Andalucía. Asimismo, los resultados son representativos en cuanto a niveles de edad (11-12, 13-14, 15-16 y 17-18 años), provincia y titularidad de los centros educativos (pública o privada-concertada). En esta edición concretamente, se han recogido datos de 15.684 chicos y chicas con edades comprendidas entre los 11 y los 18 años, en un total de 253 centros educativos. Los resultados están disponibles en los informes que aparecen a continuación.</p>

			<h3>Informe de resultados</h3>
			<p>MORENO, C., RAMOS, P., RIVERA, F., JIMÉNEZ-IGLESIAS, A. y GARCÍA-MOYA, I. (2013). <a href="wp-content/themes/hbscng2/dist/assets/pdfs/hbsc_estudio_andalucia_def.pdf">Las conductas relacionadas con la salud y el desarrollo de los adolescentes andaluces. Resumen del estudio Health Behaviour in School-aged Children en Andalucía (HBSC-2011)</a>. Sevilla: Consejería de Salud (Junta de Andalucía).</p>

			<p>MORENO, C., RAMOS, P., RIVERA, F., JIMÉNEZ-IGLESIAS, A. y GARCÍA-MOYA, I. (2013). <a href="wp-content/themes/hbscng2/dist/assets/pdfs/informe_tablas_andalucia_2011%20.pdf">Estilos de vida, contextos de desarrollo y ajuste psicológico en los adolescentes andaluces. Resultados del estudio 2011 con chicos y chicas andaluces de 11 a 18 años</a>. Sevilla: Consejería de Salud (Junta de Andalucía).</p>


			<h3>Modelo de informe enviado a los centros educativos participantes</h3>
			<p>MORENO, C., RAMOS, P., RIVERA, F., JIMÉNEZ-IGLESIAS, A., GARCÍA-MOYA, I. y PAZOS, M. (2011). <a href="wp-content/themes/hbscng2/dist/assets/pdfs/MODELO_informe_centros%20educativos.pdf">Estudio Health Behaviour in School-Aged Children (HBSC-2011): "Informes de resultados preliminares del estudio Health Behaviour in School-aged Children en Andalucía (HBSC-2011)" dirigidos a los Centros Educativos participantes</a>. Sevilla: Consejería de Salud (Junta de Andalucía). Informes no publicados.</p>

			<p>La edición 2011 del estudio HBSC en Andalucía, al igual que la edición 2010 realizada a nivel nacional, incorpora las nuevas tecnologías de la información y comunicación (TIC) en el procedimiento de recogida de datos. De esta manera, se facilita la participación de los centros escolares en el estudio y se mejora el anonimato y la confidencialidad de los escolares.</p>

			<p>Gracias a la concesión de una ayuda para Proyectos de Excelencia por parte de la <a href="http://www.juntadeandalucia.es/organismos/economiainnovacionyciencia.html" target="_blank">Consejería de Economía, Innovación y Ciencia</a> de la <a href="http://www.juntadeandalucia.es/index.html" target="_blank">Junta de Andalucía</a>, esta iniciativa andaluza podrá seguir adelante en futuras ediciones.</p>

		</div>
	</div>
	<div>
		<div *ngIf="aragon">
			<h2>Aragón - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.344 adolescentes de la comunidad autónoma de Aragón. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; GRANADO, M.C.; RAMOS, P.; RIVERA, F.; MUÑOZ-TINOCO, V.; SÁNCHEZ-QUEIJA, I. y PÉREZ, P. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/aragon_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas aragoneses de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-018-8.</p>
		</div>
	</div>
	<div>
		<div *ngIf="asturias">
			<h2>Asturias - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.268 adolescentes de la comunidad autónoma de Asturias. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I.; GRANADO, M.C.; RAMOS, P. y RIVERA, F. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/asturias_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas asturianos de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-019-3.</p>
		</div>
	</div>
	<div>
		<div *ngIf="cantabria">
			<h2>Cantabria - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.073 adolescentes de la comunidad autónoma de Cantabria. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I.; GRANADO, M.C.; RAMOS, P.; RIVERA, F. y MUÑOZ-TINOCO, V. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/cantabria_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas cántabros de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-022-7.</p>
		</div>
	</div>
	<div>
		<div *ngIf="castillayleon">
			<h2>Castilla y León - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.208 adolescentes de la comunidad autónoma de Castilla y León. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; GRANADO, M.C.; RAMOS, P.; SÁNCHEZ-QUEIJA, I.; MUÑOZ-TINOCO, V.; PÉREZ, P. y RIVERA, F. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/leon_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas castellano-leoneses de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-023-2.</p>
		</div>
	</div>
	<div>
		<div *ngIf="castillalamancha">
			<h2>Castilla-La Mancha - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.307 adolescentes de la comunidad autónoma de Castilla-La Mancha. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; SÁNCHEZ-QUEIJA, I; GRANADO, M.C.; RAMOS, P.; RIVERA, F.; MUÑOZ-TINOCO, V. y PÉREZ, P. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/mancha_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas castellano-manchegos de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-024-8.</p>
		</div>
	</div>
	<div>
		<div *ngIf="cataluna">
			<h2>Cataluña - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 914 adolescentes de la comunidad autónoma de Cataluña. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; RIVERA, F.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I.; GRANADO, M.C. y RAMOS, P. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/cataluna_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas catalanes de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-025-3.</p>
		</div>
	</div>
	<div>
		<div *ngIf="ceuta">
			<h2>Ceuta - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.061 adolescentes de las comunidades de Ceuta y Melilla. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; GRANADO, M.C.; RAMOS, P.; SÁNCHEZ-QUEIJA, I.; MUÑOZ-TINOCO, V.; PÉREZ, P. y RIVERA, F. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/ceuMel_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas ceutíes y melillenses de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-027-4.</p>
		</div>
	</div>
	<div>
		<div *ngIf="madrid">
			<h2>Madrid - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.052 adolescentes de la comunidad autónoma de Madrid. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; SÁNCHEZ-QUEIJA, I; GRANADO, M.C.; RAMOS, P.; RIVERA, F.; MUÑOZ-TINOCO, V. y PÉREZ, P. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/madrid_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas madrileños de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-030-8.
		</div>
	</div>
	<div>
		<div *ngIf="valencia">
			<h2>Valencia - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.044 adolescentes de la Comunidad Valenciana. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; SÁNCHEZ-QUEIJA, I.; GRANADO, M.C.; RAMOS, P.; RIVERA, F.; MUÑOZ-TINOCO, V. y PÉREZ, P. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/valencia_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas valencianos de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-034-X.
		</div>
	</div>
	<div>
		<div *ngIf="extremadura">
			<h2>Extremadura - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.218 adolescentes de la comunidad autónoma de Extremadura. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I; GRANADO, M.C.; RAMOS, P. y RIVERA, F. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/extremadura_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas extremeños de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-028-X.
		</div>
	</div>
	<div>
		<div *ngIf="galicia">
			<h2>Galicia - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.519 adolescentes de la comunidad autónoma de Galicia. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I; GRANADO, M.C.; RAMOS, P.; RIVERA, F. y MUÑOZ-TINOCO, V. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/galicia_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas gallegos de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-029-5.
		</div>
	</div>
	<div>
		<div *ngIf="islasbaleares">
			<h2>Islas Baleares - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.096 adolescentes de la comunidad autónoma de Baleares. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I.; GRANADO, M.C.; RAMOS, P. y RIVERA, F. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/baleares_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas baleares de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-020-6.
		</div>
	</div>
	<div>
		<div *ngIf="islascanarias">
			<h2>Islas Canarias - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.317 adolescentes de la comunidad autónoma de Canarias. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; RIVERA, F.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I.; GRANADO, M.C. y RAMOS, P. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/canarias_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas canarios de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-021-1.
		</div>
	</div>
	<div>
		<div *ngIf="larioja">
			<h2>La Rioja - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.089 adolescentes de la comunidad autónoma de La Rioja. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; RIVERA, F.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I.; GRANADO, M.C. y RAMOS, P. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/rioja_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas riojanos de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-033-4.
		</div>
	</div>
	<div>
		<div *ngIf="melilla">
			<h2>Melilla - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.061 adolescentes de las comunidades de Ceuta y Melilla. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; GRANADO, M.C.; RAMOS, P.; SÁNCHEZ-QUEIJA, I.; MUÑOZ-TINOCO, V.; PÉREZ, P. y RIVERA, F. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/ceuMel_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas ceutíes y melillenses de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-027-4.
		</div>
	</div>
	<div>
		<div *ngIf="murcia">
			<h2>Murcia - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.151 adolescentes de la comunidad autónoma de Murcia. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I; GRANADO, M.C.; RAMOS, P.; RIVERA, F. y MUÑOZ-TINOCO, V. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/murcia_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas murcianos de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-031-3.
		</div>
	</div>
	<div>
		<div *ngIf="navarra">
			<h2>Navarra - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.300 adolescentes de la comunidad autónoma de Navarra. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; RAMOS, P.; RIVERA, F.; SÁNCHEZ-QUEIJA, I.; PÉREZ, P.; MUÑOZ-TINOCO, V. y GRANADO, M.C. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/navarra_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas navarros de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-032-9.
		</div>
	</div>
	<div>
		<div *ngIf="paisvasco">
			<h2>País Vasco - Edición 2006</h2>
			<p>Como parte de la edición 2006 del estudio HBSC, se obtuvo una muestra representativa de 1.124 adolescentes del País Vasco. Sus resultados respecto a diversos estilos de vida y sus experiencias en los contextos de desarrollo pueden consultarse en el informe que aparece a continuación.</p>
			<p>MORENO, C.; RAMOS, P.; RIVERA, F.; MUÑOZ-TINOCO, V.; PÉREZ, P.; SÁNCHEZ-QUEIJA, I. y GRANADO, M.C. (2008). <a href="http://www.msc.es/profesionales/saludPublica/prevPromocion/promocion/saludJovenes/estudioHBSC/pvasco_hbsc.htm" target="_blank">Desarrollo adolescente y salud. Resultados del Estudio HBSC-2006 con chicos y chicas vascos de 11 a 17 años</a>. Madrid: Ministerio de Sanidad, Política Social e Igualdad. NIPO: 351-08-035-5.
		</div>
	</div>
</div>