<div class="national content">

<h2>Nuestro trabajo durante los años</h2>
	<!-- Time line -->
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 469.4 68.2" style="enable-background:new 0 0 469.4 68.2;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:none;}
			.st1{fill:none;stroke:#1D1D1B;stroke-width:0.3;stroke-linejoin:round;}
			.st2{fill:#4D4D4F;}
			.st3{font-family:'FedraSansCondProBold';}
			.st4{font-size:24px;}
			.st5{fill:url(#Diagonal_Lines);stroke:#4D4D4F;stroke-width:2;stroke-miterlimit:10;}
			.st6{fill:none;stroke:#4D4D4F;stroke-width:2;stroke-miterlimit:10;}
		</style>
		<pattern  x="-1205.3" y="934.1" width="72" height="72" patternUnits="userSpaceOnUse" id="Diagonal_Lines" viewBox="79.6 -148.6 72 72" style="overflow:visible;">
			<g>
				<rect x="79.6" y="-148.6" class="st0" width="72" height="72"/>
				<g>
					<line class="st1" x1="144.1" y1="-66.1" x2="162.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-60.1" x2="168.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-54.1" x2="174.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-48.1" x2="180.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-42.1" x2="186.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-36.1" x2="192.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-30.1" x2="198.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-24.1" x2="204.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-18.1" x2="210.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-12.1" x2="216.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-6.1" x2="222.1" y2="-84.1"/>
					<line class="st1" x1="144.1" y1="-0.1" x2="228.1" y2="-84.1"/>
					<line class="st1" x1="150.1" y1="-0.1" x2="228.1" y2="-78.1"/>
				</g>
				<g>
					<line class="st1" x1="72.1" y1="-66.1" x2="90.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-60.1" x2="96.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-54.1" x2="102.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-48.1" x2="108.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-42.1" x2="114.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-36.1" x2="120.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-30.1" x2="126.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-24.1" x2="132.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-18.1" x2="138.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-12.1" x2="144.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-6.1" x2="150.1" y2="-84.1"/>
					<line class="st1" x1="72.1" y1="-0.1" x2="156.1" y2="-84.1"/>
					<line class="st1" x1="78.1" y1="-0.1" x2="156.1" y2="-78.1"/>
				</g>
				<g>
					<line class="st1" x1="0.1" y1="-0.1" x2="84.1" y2="-84.1"/>
					<line class="st1" x1="6.1" y1="-0.1" x2="84.1" y2="-78.1"/>
				</g>
				<g>
					<line class="st1" x1="144.1" y1="-138.1" x2="162.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-132.1" x2="168.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-126.1" x2="174.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-120.1" x2="180.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-114.1" x2="186.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-108.1" x2="192.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-102.1" x2="198.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-96.1" x2="204.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-90.1" x2="210.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-84.1" x2="216.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-78.1" x2="222.1" y2="-156.1"/>
					<line class="st1" x1="144.1" y1="-72.1" x2="228.1" y2="-156.1"/>
					<line class="st1" x1="150.1" y1="-72.1" x2="228.1" y2="-150.1"/>
				</g>
				<g>
					<line class="st1" x1="72.1" y1="-138.1" x2="90.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-132.1" x2="96.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-126.1" x2="102.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-120.1" x2="108.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-114.1" x2="114.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-108.1" x2="120.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-102.1" x2="126.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-96.1" x2="132.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-90.1" x2="138.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-84.1" x2="144.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-78.1" x2="150.1" y2="-156.1"/>
					<line class="st1" x1="72.1" y1="-72.1" x2="156.1" y2="-156.1"/>
					<line class="st1" x1="78.1" y1="-72.1" x2="156.1" y2="-150.1"/>
					<line class="st1" x1="84.1" y1="-72.1" x2="156.1" y2="-144.1"/>
					<line class="st1" x1="90.1" y1="-72.1" x2="156.1" y2="-138.1"/>
					<line class="st1" x1="96.1" y1="-72.1" x2="156.1" y2="-132.1"/>
					<line class="st1" x1="102.1" y1="-72.1" x2="156.1" y2="-126.1"/>
					<line class="st1" x1="108.1" y1="-72.1" x2="156.1" y2="-120.1"/>
					<line class="st1" x1="114.1" y1="-72.1" x2="156.1" y2="-114.1"/>
					<line class="st1" x1="120.1" y1="-72.1" x2="156.1" y2="-108.1"/>
					<line class="st1" x1="126.1" y1="-72.1" x2="156.1" y2="-102.1"/>
					<line class="st1" x1="132.1" y1="-72.1" x2="156.1" y2="-96.1"/>
					<line class="st1" x1="138.1" y1="-72.1" x2="156.1" y2="-90.1"/>
					<line class="st1" x1="144.1" y1="-72.1" x2="156.1" y2="-84.1"/>
				</g>
				<g>
					<line class="st1" x1="0.1" y1="-72.1" x2="84.1" y2="-156.1"/>
					<line class="st1" x1="6.1" y1="-72.1" x2="84.1" y2="-150.1"/>
					<line class="st1" x1="12.1" y1="-72.1" x2="84.1" y2="-144.1"/>
					<line class="st1" x1="18.1" y1="-72.1" x2="84.1" y2="-138.1"/>
					<line class="st1" x1="24.1" y1="-72.1" x2="84.1" y2="-132.1"/>
					<line class="st1" x1="30.1" y1="-72.1" x2="84.1" y2="-126.1"/>
					<line class="st1" x1="36.1" y1="-72.1" x2="84.1" y2="-120.1"/>
					<line class="st1" x1="42.1" y1="-72.1" x2="84.1" y2="-114.1"/>
					<line class="st1" x1="48.1" y1="-72.1" x2="84.1" y2="-108.1"/>
					<line class="st1" x1="54.1" y1="-72.1" x2="84.1" y2="-102.1"/>
					<line class="st1" x1="60.1" y1="-72.1" x2="84.1" y2="-96.1"/>
					<line class="st1" x1="66.1" y1="-72.1" x2="84.1" y2="-90.1"/>
					<line class="st1" x1="72.1" y1="-72.1" x2="84.1" y2="-84.1"/>
				</g>
				<g>
					<line class="st1" x1="144.1" y1="-144.1" x2="228.1" y2="-228.1"/>
					<line class="st1" x1="150.1" y1="-144.1" x2="228.1" y2="-222.1"/>
				</g>
				<g>
					<line class="st1" x1="72.1" y1="-144.1" x2="156.1" y2="-228.1"/>
					<line class="st1" x1="78.1" y1="-144.1" x2="156.1" y2="-222.1"/>
					<line class="st1" x1="84.1" y1="-144.1" x2="156.1" y2="-216.1"/>
					<line class="st1" x1="90.1" y1="-144.1" x2="156.1" y2="-210.1"/>
					<line class="st1" x1="96.1" y1="-144.1" x2="156.1" y2="-204.1"/>
					<line class="st1" x1="102.1" y1="-144.1" x2="156.1" y2="-198.1"/>
					<line class="st1" x1="108.1" y1="-144.1" x2="156.1" y2="-192.1"/>
					<line class="st1" x1="114.1" y1="-144.1" x2="156.1" y2="-186.1"/>
					<line class="st1" x1="120.1" y1="-144.1" x2="156.1" y2="-180.1"/>
					<line class="st1" x1="126.1" y1="-144.1" x2="156.1" y2="-174.1"/>
					<line class="st1" x1="132.1" y1="-144.1" x2="156.1" y2="-168.1"/>
					<line class="st1" x1="138.1" y1="-144.1" x2="156.1" y2="-162.1"/>
					<line class="st1" x1="144.1" y1="-144.1" x2="156.1" y2="-156.1"/>
				</g>
				<g>
					<line class="st1" x1="0.1" y1="-144.1" x2="84.1" y2="-228.1"/>
					<line class="st1" x1="6.1" y1="-144.1" x2="84.1" y2="-222.1"/>
					<line class="st1" x1="12.1" y1="-144.1" x2="84.1" y2="-216.1"/>
					<line class="st1" x1="18.1" y1="-144.1" x2="84.1" y2="-210.1"/>
					<line class="st1" x1="24.1" y1="-144.1" x2="84.1" y2="-204.1"/>
					<line class="st1" x1="30.1" y1="-144.1" x2="84.1" y2="-198.1"/>
					<line class="st1" x1="36.1" y1="-144.1" x2="84.1" y2="-192.1"/>
					<line class="st1" x1="42.1" y1="-144.1" x2="84.1" y2="-186.1"/>
					<line class="st1" x1="48.1" y1="-144.1" x2="84.1" y2="-180.1"/>
					<line class="st1" x1="54.1" y1="-144.1" x2="84.1" y2="-174.1"/>
					<line class="st1" x1="60.1" y1="-144.1" x2="84.1" y2="-168.1"/>
					<line class="st1" x1="66.1" y1="-144.1" x2="84.1" y2="-162.1"/>
					<line class="st1" x1="72.1" y1="-144.1" x2="84.1" y2="-156.1"/>
				</g>
			</g>
		</pattern>
		<g id="fechas">
			<text (click)="ShowTextFragment('19862000')" transform="matrix(1 0 0 1 8.9166 27.5997)" class="st2 st3 st4 date-element">1986</text>
			<text (click)="ShowTextFragment('19862000')" transform="matrix(1 0 0 1 85.9372 27.5998)" class="st2 st3 st4 date-element">2000</text>
			<text (click)="ShowTextFragment('2002')" transform="matrix(1 0 0 1 145.4161 27.5995)" class="st2 st3 st4 date-element">2002</text>
			<text (click)="ShowTextFragment('2006')" transform="matrix(1 0 0 1 224.9035 27.5997)" class="st2 st3 st4 date-element">2006</text>
			<text (click)="ShowTextFragment('2010')" transform="matrix(1 0 0 1 311.518 27.5993)" class="st2 st3 st4 date-element">2010</text>
			<text (click)="ShowTextFragment('2014')" transform="matrix(1 0 0 1 401.2805 27.5993)" class="st2 st3 st4 date-element">2014</text>
		</g>
		<g id="segmentos">
			<rect (click)="ShowTextFragment('19862000')" x="31.1" y="33.8" class="st5 map-element" width="86.7" height="17.5"/>
			<rect (click)="ShowTextFragment('2002')" x="117.9" y="33.8" class="st6 map-element" width="43.5" height="17.5"/>
			<rect (click)="ShowTextFragment('2006')" x="161.4" y="33.8" class="st6 map-element" width="86.7" height="17.5"/>
			<rect (click)="ShowTextFragment('2010')" x="248.1" y="33.8" class="st6 map-element" width="86.7" height="17.5"/>
			<rect (click)="ShowTextFragment('2014')" x="334.9" y="33.8" class="st6 map-element" width="86.7" height="17.5"/>
		</g>
	</svg>
	<!-- End Time line -->

	<div id="references-note">
		<p>Elige la fecha de la que quieras mostrar referencias bibliográficas.</p>
	</div>

	<div>
		<div *ngIf="y19862000">
			<h2>1986-2000</h2>
			<p>España ha participado en el estudio desde el año <strong>1985</strong> en todas las ediciones (seis con la actual) excepto en la de 1997-1998. El primer Equipo HBSC Español estaba dirigido por el <strong>Doctor Ramón Mendoza</strong>, quien ejerció como Investigador Principal desde la edición de 1985/86 hasta la de 1997/98. Desde la edición de 2001/02 hasta la actualidad el Equipo HBSC Español está dirigido por la <strong>Doctora Carmen Moreno</strong>, miembro del Departamento de Psicología Evolutiva y de la Educación de la <a href="http://www.us.es/" target="_blank">Universidad de Sevilla</a>.</p>
		</div>
	</div>
	<div>
		<div *ngIf="y2002">
		<h2>2002</h2>
		<p>El Estudio HBSC en España en su edición de <strong>2002</strong> estuvo apoyado y financiado por el <a href="http://www.msc.es/" target="_blank">Ministerio de Sanidad, Política Social e Igualdad</a>.</p>

		<p>Se recogieron datos de <strong>13.552 chicos y chicas</strong> con edades comprendidas entre los <strong>11 y 18 años</strong>, en un total de <strong>612 aulas</strong>.</p>

		<p>El método de muestreo (aleatorio polietápico estratificado por conglomerados) permite <strong>generalizar los resultados obtenidos a la población española de estas edades</strong>. Los resultados son representativos por zona geográfica, hábitat, titularidad del centro educativo y nivel de edad, y por lo tanto lo son del conjunto de chicos y chicas españoles con edades entre 11 y 18 años.</p>

		<p>La muestra aleatoria de aulas procedía de un censo aportado por el <a href="http://www.educacion.gob.es/portada.html" target="_blank">Ministerio de Educación y Ciencia</a> donde estaban <strong>recogidos todos los centros educativos españoles</strong>.</p>

		<p>En la recogida de datos participaron 18 becarios (relacionados con los ámbitos de la salud y la educación) entrenados específicamente para esta labor.</p>

		<p>Básicamente se emplearon <strong>dos cuestionarios</strong>: uno para los chicos y chicas de 11 años (5º y 6º de primaria) y otro para el resto de adolescentes (1º a 4º de ESO, Ciclo Formativo de Grado Medio y 1º y 2º de Bachillerato).</p>

		<p>Los cuestionarios incluyen <strong>preguntas comunes a los 32 países</strong> que realizaron la investigación conjuntamente, además de preguntas específicas decididas por el Equipo HBSC Español y el <a href="http://www.msc.es/" target="_blank">Ministerio de Sanidad, Política Social e Igualdad</a>.</p>

		<p>Con las <strong>preguntas comunes</strong> a toda la red internacional HBSC se sigue un <strong>proceso de traducción-contratraducción</strong> para asegurar su paridad entre las lenguas. En el caso del cuestionario español y en aquellos lugares donde se hablan dos lenguas oficiales (Islas Baleares, Comuinidad Valenciana, Cataluña, Navarra, País Vasco y Galicia), se presentaban a los adolescentes dos cuestionarios, uno en cada lengua, para que pudieran elegir cual preferían responder.</p>

		<p>La administración de los cuestionarios se llevó a cabo dentro del horario escolar y ofreciendo al alumnado garantías totales de anonimato (por ejemplo, al finalizar el cuestionario, lo incluían ellos mismos en un sobre que se les facilitaba).</p>	
		</div>
	</div>
	<div>
		<div *ngIf="y2006">
			<h2>2006</h2>
			<p>El Estudio HBSC en España en su edición de 2006 estuvo apoyado y financiado por el <a href="http://www.msc.es/" target="_blank">Ministerio de Sanidad, Política Social e Igualdad</a>.</p>

			<p>En su edición de 2006 se recogieron datos de <strong>21.811 chicos y chicas</strong> con edades comprendidas entre los <strong>11 y los 18 años</strong>, en un total de <strong>1.119 aulas</strong>.</p>

			<p>El método de muestreo (aleatrorio polietápico estratificado por conglomerados) permite <strong>generalizar los resultados obtenidos a la población de cada Comunidad o Ciudad Autónoma</strong> de manera independiente. Asimismo es representativo en cuanto a niveles de edad, titularidad de los centros educativos (pública o privada-concertada) y hábitat (rural y urbano) de estas regiones.</p>

			<p>La muestra aleatoria de aulas procede de un censo aportado por el <a href="http://www.educacion.gob.es/portada.html" target="_blank">Ministerio de Educación y Ciencia</a> donde están recogidos todos los centros educativos españoles.</p>

			<p>En la recogida de datos participaron 30 becarios (relacionados con los ámbitos de la salud y la educación) entrenados específicamente para esta labor.</p>

			<p>Básicamente, se emplearon <strong>dos cuestionarios</strong>: uno para los chicos y chicas de 11 años (5º y 6º de primaria) y otro para el resto de adolescentes (1º a 4º de ESO, Ciclo Formativo de Grado Medio y 1º y 2º de Bachillerato).</p>

			<p>Los cuestionarios incluyen preguntas comunes a los países que realizan la investigación conjuntamente, además de preguntas específicas decididas por el Equipo HBSC Español y el <a hrefe="http://www.msc.es/" target="_blank">Ministerio de Sanidad, Política Social e Igualdad</a>.</p>

			<p>Con las <strong>preguntas comunes</strong> a toda la red internacional HBSC se sigue un proceso de <strong>traducción-contratraducción</strong> para asegurar su paridad entre las lenguas. En el caso del cuestionario español y en aquellos lugares donde se hablan dos lenguas oficiales (Islas Baleares, Comunidad Valenciana, Cataluña, Navarra, País Vasco y Galicia) los cuestionarios se presentaban a los adolescentes impresos en su totalidad en las dos lenguas, de modo que ellos p odían elegir en cuál preferían responder (si lo abrían por la portada, lo hacían en una lengua, y si le daban la vuelta, la contraportada se iniciaba con la versión en la otra lengua).</p>

			<p>La administración de los cuestionarios se llevó a cabo dentro del horario escolar y ofreciendo al alumnado garantías totales de anonimato (por ejemplo, al finalizar el cuestionario, lo incluían ellos mismos en un sobre que se les facilitaba).</p>
		</div>
	</div>
	<div>
		<div *ngIf="y2010">
		<h2>2010</h2>
		<p>El Estudio HBSC en España, en su edición de <strong>2009-2010</strong>, está apoyado y financiado por el <a href="http://www.msc.es/" target="_blank">Ministerio de Sanidad, Política Social e Igualdad</a>.</p>

		<p>En esta edición, se han recogido datos de <strong>11.230 chicos y chicas</strong> con edades comprendidas entre los <strong>11 y los 18 años</strong>, en un total de <strong>135 centros</strong> educativos.</p>

		<p>El método de muestreo (aleatorio polietápico estratificado por conglomerados) <strong>permite generalizar los resultados obtenidos a nivel nacional</strong>. Asimismo, los resultados son representativos en cuanto a niveles de edad (11-12, 13-14, 15-16 y 17-18 años), zona geográfica (norte, centro, este y sur) y titularidad de los centros educativos (pública o privada-concertada).</p>

		<p>La muestra aleatoria de centros participantes procede de un censo aportado por el <a href="http://www.educacion.gob.es/portada.html" target="_blank">Ministerio de Educación</a> donde están recogidos todos los centros educativos españoles.</p>

		<p>El procedimiento de recogida de datos en esta edición se caracterizó por la incorporación de las nuevas tecnologías de la información y comunicación (TICs), lo que supone un avance respecto a ediciones anteriores.</p>

		<p>Básicamente, se emplearon <strong>tres tipos de cuestionarios</strong>: uno para los chicos y chicas de 11-12 años (5º y 6º de primaria), otro para los de 13-14 años (1º y 2º de ESO) y un tercero para el resto de adolescentes (3º y 4º de ESO, Ciclos Formativos de Grado Medio, 1º y 2º de Bachillerato y PCPI).</p>

		<p>Los cuestionarios incluyen preguntas comunes a los más de 40 países que realizan la investigación en esta edición, además de preguntas específicas decididas por el Equipo HBSC Español y el <a href="http://www.msc.es/" target="_blank">Ministerio de Sanidad y Política Social e Igualdad</a>.</p>

		<p>Con las <strong>preguntas comunes</strong> a toda la red internacional HBSC se sigue un <strong>proceso de traducción-contratraducción</strong> para asegurar su paridad entre las lenguas.</p>

		<p>La administración de los cuestionarios se llevó a cabo dentro del horario escolar con la supervisión del profesorado de los centros educativos, los cuales disponían de instrucciones claras y concisas sobre el proceso de recogida de datos, y ofreciendo al alumnado garantías totales de anonimato.</p>
		</div>
	</div>
	<div>
		<div *ngIf="y2014">
			<h2>2014</h2>
			<p>El Estudio HBSC en España, en su edición de 2014, está apoyado y financiado por el <a href="http://www.msc.es/" target="_blank">Ministerio de Sanidad, Servicios Sociales e Igualdad</a>.</p>

			<p>En esta edición, se han recogido datos de más de <strong>30.000 chicos y chicas con edades</strong> comprendidas entre los <strong>11 y los 18 años</strong> en un total de <strong>402 centros</strong> educativos.</p>

			<p>El método de muestreo (aleatorio polietápico estratificado por conglomerados) permite <strong>generalizar los resultados obtenidos a nivel nacional</strong>. Asimismo, los resultados son representativos en cuanto a niveles de edad (11-12, 13-14, 15-16 y 17-18 años), comunidad autónoma y titularidad de los centros educativos (pública o privada-concertada).</p>

			<p>La muestra aleatoria de centros participantes procede de un censo aportado por el <a href="http://www.educacion.gob.es/portada.html" target="_blank">Ministerio de Educación</a> donde están recogidos todos los centros educativos españoles.</p>

			<p>Desde la edición de 2010 del estudio HBSC en España, se incorporan las nuevas tecnologías de la información y la comunicación (TIC) en el procedimiento de recogida de datos. Es decir, se hace uso de internet como soporte para el cuestionario y herramienta para que los escolares lo completen y envíen.
			Los cuestionarios incluyen <strong>preguntas comunes a los más de 40 países</strong> que realizan la investigación en esta edición, además de preguntas específicas decididas por el Equipo HBSC Español y el <a href="http://www.msc.es/" target="_blank">Ministerio de Sanidad y Servicios Sociales e Igualdad</a>.</p>

			<p>Con las <strong>preguntas comunes</strong> a toda la red internacional HBSC se sigue un <strong>proceso de traducción-contratraducción</strong> para asegurar su paridad entre las lenguas.</p>

			<p>Como en las ediciones anteriores, el cuestionario HBSC-2014 explora un abanico de contenidos muy amplio que no se detiene en los estilos de vida, sino que abarca también diferentes medidas de ajuste psicológico y de calidad de los contextos en los que los adolescentes crecen (familia, escuela, iguales).</p>

			<p>La administración de los cuestionarios se llevó a cabo dentro del horario escolar con la supervisión del profesorado de los centros educativos, los cuales disponían de instrucciones claras y concisas sobre el proceso de recogida de datos, y ofreciendo al alumnado garantías totales de anonimato.</p>
		</div>
	</div>
</div>