<div class="post container">
	<!-- Larger screens left side image -->
	<div class="post container left">
		<ul>
			<li><a href="quienes-somos">Variables demográficas</a></li>
			<li><a href="historia">Alimentación y dieta</a></li>
			<li><a href="noticias">Higiene buco-dental</a></li>
			<li><a href="noticias">Horas de sueño</a></li>
			<li><a href="noticias">Actividad física y conductas sedentarias</a></li>
			<li><a href="noticias">Consumo de sustancias y otras conductas de riesgo</a></li>
			<li><a href="noticias">Conducta sexual</a></li>
			<li><a href="noticias">Lesiones y violencia</a></li>
			<li><a href="noticias">Maltrato entre iguales</a></li>
			<li><a href="noticias">Familia</a></li>
			<li><a href="noticias">Iguales y tiempo libre</a></li>
			<li><a href="noticias">Escuela</a></li>
			<li><a href="noticias">Vecindario</a></li>
			<li><a href="noticias">Salud y ajuste psicológico</a></li>
			<li><a href="noticias">Desigualdades socioeconómicas</a></li>
		</ul>
	</div>

	<!-- Common right side factshets text -->
	<div class="post container right">
		<h2>Actividad física y conductas sedentarias</h2>
		<p>A pesar de que las enfermedades crónicas asociadas con la inactividad física raramente se
manifiestan antes de la adultez media, en la etapa adolescente ya se encuentran algunas
relaciones con el sobrepeso y la obesidad, la salud músculo-esquelética y la salud mental,
especialmente. Diferentes investigaciones demuestran la existencia de relación entre un nivel
elevado de actividad física y mejores indicadores de salud en chicos y chicas de edad escolar.
En este sentido, se han acumulado evidencias acerca del papel de la actividad física en el
bienestar psicológico, fortaleciendo la autoestima, el autoconcepto y la percepción de sí
mismo, valores todos ellos que protegen contra la depresión, obesidad y diversos
comportamientos de riesgo, como abuso de sustancias y violencia. Por otro lado, algunos
estudios han puesto de manifiesto un progresivo y alarmante deterioro en la capacidad
aeróbica de los adolescentes respecto a lo que ocurría en décadas anteriores. Existen varias
hipótesis para explicar estos resultados, siendo las más citadas el incremento del sedentarismo
en las sociedades industrializadas y, por otra parte, la falta de tiempo para dedicar a la práctica
deportiva, ya sea por la presión para el logroen la actividad escolar y futuro profesional o bien
por la gran cantidad de actividades sociales o individuales que hoy día compiten con el tiempo
y la energía que los adolescentes pueden dedicar a la práctica deportiva. En cuanto al
incremento del tiempo dedicado a conductas sedentarias en las sociedades industrializadas, la
Organización Mundial de la Salud en su “Informe sobre la salud en el mundo 2002” estima que
los estilos de vida sedentarios son una de las 10 causas fundamentales de mortalidad y
discapacidad en el mundo. Actualmente, las conductas sedentarias más frecuentes en esta
etapa evolutiva tienen que ver con lo que se conoce con el tiempo dedicado a las pequeñas
pantallas, habitualmente liderado por las horas dedicadas a ver televisión, pero cada vez está
tomando más peso el tiempo que chicos y chicas dedican al uso de otros aparatos electrónicos,
como por ejemplo son los ordenadores, tablets o smartphones.</p>
		<p>A pesar de que las enfermedades crónicas asociadas con la inactividad física raramente se
manifiestan antes de la adultez media, en la etapa adolescente ya se encuentran algunas
relaciones con el sobrepeso y la obesidad, la salud músculo-esquelética y la salud mental,
especialmente. Diferentes investigaciones demuestran la existencia de relación entre un nivel
elevado de actividad física y mejores indicadores de salud en chicos y chicas de edad escolar.
En este sentido, se han acumulado evidencias acerca del papel de la actividad física en el
bienestar psicológico, fortaleciendo la autoestima, el autoconcepto y la percepción de sí
mismo, valores todos ellos que protegen contra la depresión, obesidad y diversos
comportamientos de riesgo, como abuso de sustancias y violencia. Por otro lado, algunos
estudios han puesto de manifiesto un progresivo y alarmante deterioro en la capacidad
aeróbica de los adolescentes respecto a lo que ocurría en décadas anteriores. Existen varias
hipótesis para explicar estos resultados, siendo las más citadas el incremento del sedentarismo
en las sociedades industrializadas y, por otra parte, la falta de tiempo para dedicar a la práctica
deportiva, ya sea por la presión para el logroen la actividad escolar y futuro profesional o bien
por la gran cantidad de actividades sociales o individuales que hoy día compiten con el tiempo
y la energía que los adolescentes pueden dedicar a la práctica deportiva. En cuanto al
incremento del tiempo dedicado a conductas sedentarias en las sociedades industrializadas, la
Organización Mundial de la Salud en su “Informe sobre la salud en el mundo 2002” estima que
los estilos de vida sedentarios son una de las 10 causas fundamentales de mortalidad y
discapacidad en el mundo. Actualmente, las conductas sedentarias más frecuentes en esta
etapa evolutiva tienen que ver con lo que se conoce con el tiempo dedicado a las pequeñas
pantallas, habitualmente liderado por las horas dedicadas a ver televisión, pero cada vez está
tomando más peso el tiempo que chicos y chicas dedican al uso de otros aparatos electrónicos,
como por ejemplo son los ordenadores, tablets o smartphones.</p>
		<p>A pesar de que las enfermedades crónicas asociadas con la inactividad física raramente se
manifiestan antes de la adultez media, en la etapa adolescente ya se encuentran algunas
relaciones con el sobrepeso y la obesidad, la salud músculo-esquelética y la salud mental,
especialmente. Diferentes investigaciones demuestran la existencia de relación entre un nivel
elevado de actividad física y mejores indicadores de salud en chicos y chicas de edad escolar.
En este sentido, se han acumulado evidencias acerca del papel de la actividad física en el
bienestar psicológico, fortaleciendo la autoestima, el autoconcepto y la percepción de sí
mismo, valores todos ellos que protegen contra la depresión, obesidad y diversos
comportamientos de riesgo, como abuso de sustancias y violencia. Por otro lado, algunos
estudios han puesto de manifiesto un progresivo y alarmante deterioro en la capacidad
aeróbica de los adolescentes respecto a lo que ocurría en décadas anteriores. Existen varias
hipótesis para explicar estos resultados, siendo las más citadas el incremento del sedentarismo
en las sociedades industrializadas y, por otra parte, la falta de tiempo para dedicar a la práctica
deportiva, ya sea por la presión para el logroen la actividad escolar y futuro profesional o bien
por la gran cantidad de actividades sociales o individuales que hoy día compiten con el tiempo
y la energía que los adolescentes pueden dedicar a la práctica deportiva. En cuanto al
incremento del tiempo dedicado a conductas sedentarias en las sociedades industrializadas, la
Organización Mundial de la Salud en su “Informe sobre la salud en el mundo 2002” estima que
los estilos de vida sedentarios son una de las 10 causas fundamentales de mortalidad y
discapacidad en el mundo. Actualmente, las conductas sedentarias más frecuentes en esta
etapa evolutiva tienen que ver con lo que se conoce con el tiempo dedicado a las pequeñas
pantallas, habitualmente liderado por las horas dedicadas a ver televisión, pero cada vez está
tomando más peso el tiempo que chicos y chicas dedican al uso de otros aparatos electrónicos,
como por ejemplo son los ordenadores, tablets o smartphones.</p>
		<p>A pesar de que las enfermedades crónicas asociadas con la inactividad física raramente se
manifiestan antes de la adultez media, en la etapa adolescente ya se encuentran algunas
relaciones con el sobrepeso y la obesidad, la salud músculo-esquelética y la salud mental,
especialmente. Diferentes investigaciones demuestran la existencia de relación entre un nivel
elevado de actividad física y mejores indicadores de salud en chicos y chicas de edad escolar.
En este sentido, se han acumulado evidencias acerca del papel de la actividad física en el
bienestar psicológico, fortaleciendo la autoestima, el autoconcepto y la percepción de sí
mismo, valores todos ellos que protegen contra la depresión, obesidad y diversos
comportamientos de riesgo, como abuso de sustancias y violencia. Por otro lado, algunos
estudios han puesto de manifiesto un progresivo y alarmante deterioro en la capacidad
aeróbica de los adolescentes respecto a lo que ocurría en décadas anteriores. Existen varias
hipótesis para explicar estos resultados, siendo las más citadas el incremento del sedentarismo
en las sociedades industrializadas y, por otra parte, la falta de tiempo para dedicar a la práctica
deportiva, ya sea por la presión para el logroen la actividad escolar y futuro profesional o bien
por la gran cantidad de actividades sociales o individuales que hoy día compiten con el tiempo
y la energía que los adolescentes pueden dedicar a la práctica deportiva. En cuanto al
incremento del tiempo dedicado a conductas sedentarias en las sociedades industrializadas, la
Organización Mundial de la Salud en su “Informe sobre la salud en el mundo 2002” estima que
los estilos de vida sedentarios son una de las 10 causas fundamentales de mortalidad y
discapacidad en el mundo. Actualmente, las conductas sedentarias más frecuentes en esta
etapa evolutiva tienen que ver con lo que se conoce con el tiempo dedicado a las pequeñas
pantallas, habitualmente liderado por las horas dedicadas a ver televisión, pero cada vez está
tomando más peso el tiempo que chicos y chicas dedican al uso de otros aparatos electrónicos,
como por ejemplo son los ordenadores, tablets o smartphones.</p>
		<!-- <div *ngIf="post">
			<h1>{{ post.title }}</h1>
			<div [innerHTML]="post.content">
			</div>
		</div> -->
	</div>
</div>